<html>
<body>
<h2>Bank Note System</h2>
<hr>
<a href="/BankNote">Add Bank Note</a> |
<a href="/BankNoteList">Bank Note List</a> |
<a href="/BloodBank">Add Blood Bank</a> |
<a href="/BloodBankList">Blood Bank List</a> |
<a href="/RateLimit/">Rate Limit</a> |
<a href="/RateLimitList/">Rate Limit List</a> |
<a href="/BranchManager/">Branch Manager</a> |
<a href="/BranchManagerList/">Branch Manager list</a> |
<a href="/BroadCast/">Add BroadCast</a> |
<a href="/BroadCastList/">BroadCast list</a> |
<a href="/BatchProcessing/">Add BatchProcessing</a> |
<a href="/BatchProcessingList/">BatchProcessing list</a> |
<a href="/Logout">Logout</a>
<hr>